extends /views/templates/layouts/_base

append variables
	- pagetitle = "Accordion"

block content
	section
		.container
			.page-header
				h1 Accordion
				p.lead Grouped panels that expand and collapse vertically.

	+section("Basic accordion")
		p By default each panel in a group is independent. Wrap them in #[code [data-panel-group]] to scope the group.


		.card
			.demo
				ul(data-panel-group)
					li
						button.accordion-trigger(data-panel-trigger)= example1Title
							+chevron()
						div(data-panel)
							.panel-wrapper
								+example-1-content

					li
						button.accordion-trigger(data-panel-trigger)= example2Title
							+chevron()
						div(data-panel)
							.panel-wrapper
								+example-2-content

					li
						button.accordion-trigger(data-panel-trigger)= example3Title
							+chevron()
						div(data-panel)
							.panel-wrapper
								+example-3-content

			p Because Panel auto-detects any panel that directly follows the trigger, you can keep the markup very simple.

			+codeblock('HTML')
				ul(data-panel-group)
					li
						button(data-panel-trigger) Toggle
						div(data-panel)
							.panel-wrapper Content


	+section("One open at a time")
		p Add #[code data-panel-close-siblings] to the group element to automatically close the other panels when one opens. No extra JavaScript needed.


		.card
			.demo
				ul(data-panel-group data-panel-close-siblings)
					li
						button.accordion-trigger(data-panel-trigger)= example1Title
							+chevron()
						div(data-panel)
							.panel-wrapper
								ul
									li This is our most important feature ever!
									li Support me with some coffee if you like this project: #[a(href="https://ko-fi.com/martinomagnifico") Buy me a coffee].

					li
						button.accordion-trigger(data-panel-trigger)= example2Title
							+chevron()
						div(data-panel)
							.panel-wrapper
								ul
									li Starter Plan: Whenever you don’t want to pay a lot.
									li Support me with some coffee if you like this project: #[a(href="https://ko-fi.com/martinomagnifico") Buy me a coffee].

			.callout 
				+warning()
				p #[strong Note]: whenever this is set, the closing of any opened sibling will use the #[code --ps-open-speed] and #[code --ps-open-timing] CSS variables for its transition. This is because we want to avoid mismatched transitions that may result in a wobbly look. See the examples above: when any of the panels is open, clicking the other will not result in a surrounding container that changes height. Maybe a few subpixels, but that is to be expected. 





		p You can also enable this per-panel via the #[code closeSiblings] JS option, or opt individual panels out with #[code data-panel-close-siblings="false"].

		.card-row
			.card
				h4 HTML (group-level)
				+codeblock('HTML')
					ul(data-panel-group data-panel-close-siblings)
						| ...
			.card
				h4 JavaScript (init-level)
				+codeblock('JS').
					Panel.init('[data-panel]', { closeSiblings: true });

		p
			| For full details see #[a(href="/panel/configuration.html#grouping-panels-accordion") Grouping panels (accordion)] in the configuration reference.

append scripts
	if isProd
		script(src=`${basePath}lib/panelset.js` vite-ignore)
		script.
			Panel.init('.docs-content [data-panel]');
	else
		script(type="module").
			import { Panel } from 'panelset';
			Panel.init('.docs-content [data-panel]', { debug: true });
